# For electron-builder
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
shamefully-hoist=true

# For China 🇨🇳 developers
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
node_sqlite3_mirror=https://npmmirror.com/mirrors/sqlite3/
sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/

# For mac arm64
# arch=arm64
# target_arch=arm64
# npm_config_arch=arm64

# rebuild_sqlite=true
npm install electron@29.1.1 sqlite3@5.1.6 --save-exact
npm rebuild sqlite3 --runtime=electron --target=29.1.1 --dist-url=https://electronjs.org/headers --build-from-source